<header class="header">
  <div class="header__container container">
    <div class="header__container__text">
      <h1 class="header__container__text__title">Join now to the <br>new experience</h1>
      <span class="header__container__text__subtitle">
        Lorem ipsum dolor sit amet,<br>
        consectetur adipiscing elit.<br>
        Proin eget interdum ipsum.
      </span>
    </div>
    <div class="header__container__bttn">
        <a class="header__container__bttn__button">
          Join now
        </a>
    </div>
  </div>
</header>