.header{
    background-image: url(../../assets/mobile-phone.jpg);
    background-position-y: center;
}
@media(max-width:1366px){
    .header{
        background-position-x: 55%;
    }
}
@media(max-width:700px){
    .header{
        background-size: cover;
    }
}

.header__container{
    height: 757px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
@media(max-width:900px){
    .header__container{
        height: 600px;
    }
}
@media(max-width:700px){
    .header__container{
        height: 736px;
        flex-direction: column;
        /* justify-content: unset; */
        justify-content: center
    }
}
@media(max-width:380px){
    .header__container{
        height: 667px;
    }
}
@media(max-width:360px){
    .header__container{
        height: 640px;
    }
}
@media(max-width:320px){
    .header__container{
        height: 568px;
    }
}

.header__container__img__imagen{
    height: 500px;
}


.header__container__text{
    color: #ffffff;
}
@media(max-width:700px){
    .header__container__text{
        text-align: center;
        height: 500px;
    }
}

.header__container__text__title{
   margin-bottom: 20px;
}
@media(max-width:360px){
    .header__container__text__title{
        margin-top: 20px;
    }
}
@media(max-width:320px){
    .header__container__text__title{
        margin-top: 50px;
    }
} 


.header__container__bttn{
    width: 150px;
    height: 50px;
    border: solid 1px #2E4053;
    text-align: center;
    cursor: pointer;
    background-color: #283747;
    color: #ffffff;
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header__container__bttn__button{
    position: relative;
    top: 25%;
    font-size: 22px;
}