.footer{
    background-color: #B71C1C;
    height: 300px;
}

@media(max-width: 1224px){
    .footer{
        height: 350px;
    }
}
@media(max-width: 900px){
    .footer{
        height: 400px;
    }
}
@media(max-width: 700px){
    .footer{
        height: 600px;
    }
}
@media(max-width: 380px){
    .footer{
        height: 700px;
    }
}

hr{
    border: solid 1px #D32F2F;
}

.footer__container__legal-text{
    font-size: 22px;
    color: #ffffff;
}

.footer__container__wrapper{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__container__wrapper__logo{
    width: 100px;
    height: 50px;
    /* border: solid 1px #ffffff; */
}
.footer__container__wrapper__tyc{
    width: 150px;
    height: 50px;
    border: solid 1px #2E4053;
    text-align: center;
    cursor: pointer;
    background-color: #283747;
    color: #ffffff;
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.footer__container__wrapper__tyc__button{
    position: relative;
    top: 25%;
    font-size: 15px;
}