<footer class="footer">
  <div class="footer__container container">
    <span class="footer__container__legal-text">
      <br>
      Aenean tempus maximus egestas. Aliquam erat volutpat. Nullam tincidunt nibh diam, quis mollis mauris sagittis
      vitae. Nunc congue cursus odio eget gravida. Nulla fermentum felis eu felis facilisis, lobortis molestie lacus
      venenatis. Phasellus ultrices nisi ultricies magna semper, viverra pretium nibh luctus. Ut id convallis sem.
      Vivamus eu scelerisque neque. Donec eleifend vulputate libero, eu hendrerit risus commodo sit amet. Duis
      tristique in nunc at blandit. Maecenas luctus sollicitudin enim eget egestas. Donec congue convallis fringilla.
      Phasellus et augue nec eros ultricies volutpat at et ipsum. Donec sit amet fringilla enim. Donec sollicitudin
      scelerisque leo eget euismod.
      <hr>
    </span>
    <div class="footer__container__wrapper">
      <div class="footer__container__wrapper__logo">
      </div>
      <div class="footer__container__wrapper__tyc">
        <a class="footer__container__wrapper__tyc__button">
          Terms and conditions
        </a>
      </div>
      <div class="footer__container__wrapper__logo">
      </div>
    </div>
  </div>
</footer>