<nav>
  <div class="nav__container container">
    <div class="nav__container__wrapper">
      <div class="nav__container__wrapper__img">
        <img class="nav__container__wrapper__img__imagen">
      </div>
    </div>
    <ul class="nav__container__list">
      <li (click)="goScroll('Home')" class="nav__container__list__options">
        Home
      </li>
      <li (click)="goScroll('Products')" class="nav__container__list__options">
        Products
      </li>
      <li (click)="goScroll('Plans')" class="nav__container__list__options">
        Plans
      </li>
      <li (click)="goScroll('News')" class="nav__container__list__options">
        News
      </li>
      <li (click)="goScroll('Assistance')" class="nav__container__list__options">
        Assistance
      </li>
    </ul>
  </div>
</nav>