nav{
    background-color: #B71C1C;
    /* opacity: 0.9; */
    border-bottom: solid 1px #D32F2F;
    position: fixed;
    width: -webkit-fill-available;
    z-index: 100;
}

.nav__container{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.nav__container__wrapper{
    display: flex;
    flex-direction: row;
}

.nav__container__wrapper__img__imagen{
    width: 125px;
    height: 25px;
}

.nav__container__wrapper__text{
    font-family: auto;
    color: #ffffff;
    margin-left: 10px;

}

.nav__container__list{
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 550px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media(max-width:700px){
    .nav__container__list{
        display: none;
    }
}

.nav__container__list__options{
    cursor: pointer;
    width: 100px;
    text-align: center;
    align-self: center;
    font-size: 20px;
    color: #ffffff; 
    border: solid 1px #D32F2F;
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}