<section class="assistance">
  <div class="assistance__container container">
    <h1>
      Frequently asked questions
    </h1>
    <div class="assistance__container__wrapper">
      <div class="assistance__container__wrapper__select">
        <div class="assistance__container__wrapper__select__input">
          <label class="assistance__container__wrapper__select__input__text">
            About the devices
          </label>
        </div>
      </div>
      <div class="assistance__container__wrapper__select">
        <div class="assistance__container__wrapper__select__input">
          <label class="assistance__container__wrapper__select__input__text">
            About the plans
          </label>
        </div>
      </div>
      <div class="assistance__container__wrapper__select">
        <div class="assistance__container__wrapper__select__input">
          <label class="assistance__container__wrapper__select__input__text">
            About failures
          </label>
        </div>
      </div>
      <div class="assistance__container__wrapper__select">
        <div class="assistance__container__wrapper__select__input">
          <label class="assistance__container__wrapper__select__input__text">
            About news
          </label>
        </div>
      </div>
      <div class="assistance__container__wrapper__select">
        <div class="assistance__container__wrapper__select__input">
          <label class="assistance__container__wrapper__select__input__text">
            About refunds
          </label>
        </div>
      </div>
      <div class="assistance__container__wrapper__select">
        <div class="assistance__container__wrapper__select__input">
          <label class="assistance__container__wrapper__select__input__text">
            About transfers
          </label>
        </div>
      </div>
      <div class="assistance__container__wrapper__select">
        <div class="assistance__container__wrapper__select__input">
          <label class="assistance__container__wrapper__select__input__text">
            About services
          </label>
        </div>
      </div>
    </div>
  </div>
</section>