<section class="news">
  <div class="news__container container">
    <h1 class="news__container__title">
      News
    </h1>
    <div class="news__container__wrapper">
      <div class="news__container__wrapper__box">
        <div class="news__container__wrapper__box__container">
          <h2 class="news__container__wrapper__box__container__title">
            Proin lacinia:
          </h2>
          <span>
            Ipsum ante ultrices sem, et bibendum tellus magna eu erat.
            Curabitur vestibulum imperdiet justo, nec gravida ipsum fringilla non. Vivamus luctus faucibus semper.
            Nullam pretium, magna quis dapibus malesuada.
            Nam ipsum erat, feugiat et viverra a, aliquet in tortor.
          </span>
          <div class="news__container__wrapper__box__container__bttn">
            <a class="news__container__wrapper__box__container__bttn__button">
              Know more
            </a>
          </div>
        </div>
      </div>
      <div class="news__container__wrapper__box">
        <div class="news__container__wrapper__box__container">
          <h2 class="news__container__wrapper__box__container__title">
            Purus nec:
          </h2>
          <span>
            Maecenas ullamcorper porttitor odio, vitae gravida ligula.
            Curabitur vestibulum imperdiet justo, nec gravida ipsum fringilla non. Vivamus luctus faucibus semper.
            Donec sollicitudin ullamcorper libero, vel tempus turpis auctor vel.
            Phasellus viverra porttitor felis.
          </span>
          <div class="news__container__wrapper__box__container__bttn">
            <a class="news__container__wrapper__box__container__bttn__button">
              Know more
            </a>
          </div>
        </div>
      </div>
      <div class="news__container__wrapper__box">
        <div class="news__container__wrapper__box__container">
          <h2 class="news__container__wrapper__box__container__title">
            Posuere ultrices:
          </h2>
          <span>
            Curabitur et vulputate est, id consequat purus. Praesent semper.
            Curabitur vestibulum imperdiet justo, nec gravida ipsum fringilla. Vivamus luctus.
            Ut volutpat augue non sem ornare, eget eleifend.
            Pellentesque a sapien tristique orci tincidunt aliquet. 
          </span>
          <div class="news__container__wrapper__box__container__bttn">
            <a class="news__container__wrapper__box__container__bttn__button">
              Know more
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>