/* You can add global styles to this file, and also import other style files */
/*GENERAL*/

body{
    margin: 0;
}

.container{
    margin: auto !important;
    width: 1224px !important;
    overflow-x: hidden;
}
@media(max-width:1224px){
    .container{
        width: 900px !important;
    }
}
@media(max-width:900px){
    .container{
        width: 700px !important;
    }
}
@media(max-width:700px){
    .container{
        width: 380px !important;
    }
}
@media(max-width:380px){
    .container{
        width: 340px !important;
    }
}
@media(max-width:360px){
    .container{
        width: 320px !important;
    }
}
@media(max-width:320px){
    .container{
        width: 280px !important;
    }
}

/*=========================================================================================================================================================
=========================================================================================================================================================*/

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

h1{
    margin: 0px;
    font-size: 60px;
}
@media(max-width:700px){
    h1{
        font-size: 55px;
    }
}
@media(max-width:380px){
    h1{
        font-size: 50px;
    }
}
@media(max-width:360px){
    h1{
        letter-spacing: -1px;
    }
}
@media(max-width:320px){
    h1{
        font-size: 44px;
    }
}

h2{
    margin: 0px;
}

h3{
    margin: 0px;
}

span{
    margin: 0px;
    font-size: 25px; 
}
@media(max-width:360px){
    span{
        letter-spacing: -0.5px;
    }
}

@media(max-width:900px){
    span{
        font-size: 22px;
    }
}

.hide{
    display: none;
}

.bloq{
    background: #999999 !important;
    color: #ffffff !important;
    cursor: unset !important;
    border: solid 1px #555555 !important;
}