<section class="plans">
  <div class="plans__container container">
    <div class="plans__container__left-side">
      <h1 class="plans__container__left-side__title">
        Plans
      </h1>
      <div class="plans__container__left-side__wrapper">
        <div class="plans__container__left-side__wrapper__select">
          <label class="plans__container__left-side__wrapper__select__content">
            Select your country
          </label>
        </div>
        <div class="plans__container__left-side__wrapper__select bloq">
          <label class="plans__container__left-side__wrapper__select__content">
            Select your city
          </label>
        </div>
        <div class="plans__container__left-side__wrapper__select bloq">
          <label class="plans__container__left-side__wrapper__select__content">
            Select your plan
          </label>
        </div>
        <div class="plans__container__left-side__wrapper__bttn bloq">
          <a class="plans__container__left-side__wrapper__bttn__button">
            Join now
          </a>
        </div>
      </div>
    </div>
    <div class="plans__container__rigth-side">
    </div>
  </div>
</section>